<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Nowy użytkownik</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= users_path %>">Użytkownicy</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Nowy użytkownik</strong>
      </li>
    </ol>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Nowy użytkownik</h3>
    <div class="ibox-tools">

    </div>
  </div>
  <div class="ibox-content">
    <%= render 'form', user: @user %>
  </div>
</div>
