<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Raport finansowy</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>
          Raport finansowy
        </strong>
      </li>
    </ol>
  </div>
</div>

<%= flash_messages %>

<div class="row">
  <div class="col-lg-6">
    <div class="ibox">
      <div class="ibox-title">
        <h3>Filtry</h3>
        <div class="ibox-tools">
        </div>
      </div>
      <div class="ibox-content">

      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="ibox">
      <div class="ibox-title">
        <h3>Podsumowanie</h3>
        <div class="ibox-tools">
        </div>
      </div>
      <div class="ibox-content">
      </div>
    </div>
  </div>
</div>

<div class="ibox">
  <div class="ibox-title">
    <h3>Wykresy</h3>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">

  </div>
</div>
