<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś poprosił o link do zmiany hasła. Możesz to wykonać klikając w link poniżej.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli to nie Ty próbowałeś zmienić swoje hasło, to po prostu zignoruj tę znajomość.</p>
<p>Twoje hasło nie zmieni się dopóki nie klikniesz w link powyżej.</p>
